# ============================================================
# Microbanking Management System — Environment Variables
# ============================================================
# Copy this file to  .env  and fill in your values.
# NEVER commit the real .env file to Git.
# ============================================================

# MySQL Database
DB_HOST=btrust-mysql-database-microbanking-and-interest-management-syst.l.aivencloud.com
DB_PORT=11501
DB_USER=admin
DB_PASSWORD=XXXXXXXXX
DB_NAME=defaultdb
DB_USE_SSL=true

# JWT / Auth (for later)
# SECRET_KEY=a-random-string

AUTH_USERNAME=admin
AUTH_PASSWORD=admin